<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/MaksymLibovych/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="MaksymLibovych" />
			<add key="ClearTextPassword" value="${{ secrets.GITHUB_TOKEN }}" />
		</github>
	</packageSourceCredentials>
</configuration>